$white: #fff;
$border-color: #d6d6d6;
$poor-contrast-bg: #fbd0da;
$poor-contrast-color: #5f071c;
$good-contrast-bg: #fbf5d0;
$good-contrast-color: #5f5207;
$very-good-contrast-bg: #d2fbd0;
$very-good-contrast-color: #0d5f07;

.contrast-section-wrapper {
  .contrast-heading {
    font-size: 0.9rem;
    font-weight: 500;
  }

  .contrast-ratio-display {
    gap: 5px;
    display: flex;
    margin-top: 10px;
    flex-direction: column;

    .ratio-value {
      font-size: 3rem;
      font-weight: bold;
    }

    .contrast-info {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 5px;
      padding: 30px;
      border-radius: 10px 10px 0 0;

      &.poor-contrast {
        background-color: $poor-contrast-bg;
        color: $poor-contrast-color;
      }

      &.good-contrast {
        background-color: $good-contrast-bg;
        color: $good-contrast-color;
      }

      &.very-good-contrast {
        background-color: $very-good-contrast-bg;
        color: $very-good-contrast-color;
      }

      .ratio-value-wrapper {
        display: flex;
        gap: 5px;
        font-weight: 600;
        font-size: 0.9rem;
        flex-direction: column;
        text-align: center;
      }
    }
  }

  .stars-display {
    display: flex;
    gap: 3px;
    font-size: 1.1rem;
  }

  .star-symbol {
    display: flex;
    gap: 3px;
    font-size: 0.9rem;
  }

  .text-rating-section {
    gap: 5px;
    display: flex;
    justify-content: space-between;

    .small-text-rating,
    .large-text-rating {
      display: flex;
      font-weight: 600;
      align-items: center;
      font-size: 0.9rem;
      justify-content: space-between;
      width: 100%;
      padding: 20px;
      border-radius: 0 0 10px 10px;

      &.poor-contrast {
        background-color: $poor-contrast-bg;
        color: $poor-contrast-color;
      }

      &.good-contrast {
        background-color: $good-contrast-bg;
        color: $good-contrast-color;
      }

      &.very-good-contrast {
        background-color: $very-good-contrast-bg;
        color: $very-good-contrast-color;
      }
    }
  }
}
